.register-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .register-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;

    mat-card-title {
      text-align: center;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .full-width {
      width: 100%;
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 10px;

      button {
        padding: 5px;
      }

      .login-link {
        text-align: center;
        text-decoration: none;
        color: #30008c;
        font-size: 0.9em;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .error-msg {
      text-align: center;
      color: #d32f2f;
      font-size: 0.9em;
      margin: 0;
    }
  }
}
