.feed-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .actions-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    button {
      background: #772eff;
      color: #fff;
      border-radius: 5px;
      box-shadow: none;

      &:hover {
        background: #3b1370;
      }
    }

    .sort-button {
      background: transparent;
      color: #333;
      display: flex;
      align-items: center;
      gap: 8px;

      mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.04);
      }
    }
  }

  .posts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-auto-rows: auto; // Permet aux cartes de s'adapter à leur contenu

    .post-card {
      cursor: default;
      transition: all 0.3s ease;
      background: none;
      box-shadow: none;
      border: 1px solid #ddd;
      border-radius: 5px;
      height: fit-content; // S'adapte au contenu

      mat-card-header {
        display: flex;
        flex-direction: column;

        mat-card-content {
          display: flex;
          justify-content: space-between;
          padding: 0;
          margin: 10px 0;

          mat-card-subtitle {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }

      .post-content {
        margin-top: 10px;
        color: #333333;
      }

      button {
        color: #772eff;
      }
    }
  }

  .no-posts {
    grid-column: 1 / -1; // Prend toute la largeur
    text-align: center;
    margin-top: 50px;
    font-style: italic;
    color: #888;
  }

  .error-message {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
  }
}

// Mobile
@media (max-width: 600px) {
  .posts-grid {
    grid-template-columns: 1fr !important; // 1 seule colonne sur mobile
  }
}
