.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: none;
    border: none;
    box-shadow: none;

    mat-card-header {
      align-self: center;
      margin-bottom: 30px;
    }

    mat-card-title {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      button {
        color: #666;
      }
    }

    .full-width {
      width: 100%;
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 10px;

      button {
        padding: 5px;
        border-radius: 5px;
        color: #fff;
        background: #772eff;
        box-shadow: none;
      }

      .register-link {
        text-align: center;
        text-decoration: none;
        color: #30008c;
        font-size: 0.9em;
        margin-top: 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .error-msg {
      text-align: center;
      font-size: 0.9rem;
    }
  }
}
