@use '@angular/material' as mat;
@use '../theme-colors' as theme;

// Initialize Material
@include mat.core();

// Create the theme with your custom palettes (#7550ec)
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: theme.$primary-palette,
    tertiary: theme.$tertiary-palette,
  ),
  typography: (
    plain-family: 'Roboto',
    brand-family: 'Roboto',
  ),
));

// Apply the theme
html {
  @include mat.all-component-themes($light-theme);
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
}
